<div class="WorkPlace">
    <input [(ngModel)]="modelTitle" (input)="InputTitle($event)" type="text" class="title"><br>
    <!-- @if(modelTitle.length < 5) {
        <div class="error">Заглавието е твърде кратко</div><br>
      } -->


    <textarea  [(ngModel)]="modelDescription" (input)="InputDescription($event)" class="description" name="description"></textarea><br>


        <!-- <div *ngIf="showError" class="error-message">Описанието е твърде кратко</div><br> -->
    

    <button class="submit" (click)="SaveNote()">Съхрани бележките</button>
</div>
 
<div>Всички клипове</div>
@for (element of NotCollection; track $index) {
<div class="element">
    <div>{{element.title}}</div>
    <div>{{element.description}}</div>
    <button (click)="EditBut(element, $index)">Редактирай</button>
</div>
}